@mixin header{
	position: relative;
	height: 45px;
	line-height: 45px;
	color:$colorWhite;
	font-size: $fontLarge;
	text-align: center;	
	background-color: $colorMain;
	.back-btn{
		position: absolute;
		left:15px;
		top:15px;
		width: 10px;
		height: 18px;
		background: url("../images/icons.png") no-repeat -36px 1px;
		background-size: auto 47px;
	}
	.nav-more{
		position: absolute;
		top:20px;
		right: 15px;
		width: 18px;
		height: 2px;
		background-color: $colorWhite;
		cursor: pointer;
		&:before,&:after{
			position: absolute;
			top:-5px;
			right:0;
			width: 18px;
			height: 2px;
			content: "";
			background-color: $colorWhite;
		}
		&:after{
			top:5px;
		}
	}
}
@mixin nav{
	padding:10px 5px;
	font-size:$fontDefault;
	overflow: hidden;
	a{
		float: left;
		width: 16%;
		margin:10px 0;
		color:$colorDark;
		text-align: center;
		border-left:1px solid $colorLight;
		text-decoration: none;
		&.no-border{
			border:0 none;
		}
	}
	span{
		color:#bfbfbf;
	}
}
@mixin slide-wrap{
	width: 100%;
	height: auto;
	position: relative;
	.slider{
		width: 100%;
		min-height: 100px;
		overflow: hidden;
		position: relative;
	}
	.slide-list{
		width: 100%;
		position: absolute;
		left:0;
		top:0;
	}
	img{
		display: block;
		width: 100%;
	}
	#slideposition{
		position: absolute;
		bottom:10px;
		left:40%;
		.indicator{
			display: inline-block;
			width: 6px;
			height: 6px;
			background-color: $colorBg;
			margin:0 7px;
			padding:0;
			overflow: hidden;
			@include border-radius(50%);
			&.active{
				background-color: $colorWhite;
			}
		}
	}
}
@mixin head-line{
	line-height: 40px;
	padding-left: 15px;
	color:$colorLight;
	border:1px solid $colorBorder;
	background-color: $colorBg;
}
@mixin gallery-item{
	padding:10px 0;
	border-bottom:1px solid $colorBorder;
	overflow: hidden;
	.item-img{
		float: left;
		width: $imgDefaultW;
		height: $imgDefaultH;
		margin-right: 10px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.item-title{
		max-height: 36px;
		font-size: $fontBig;
		line-height: 18px;
		color:$colorText;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.item-article{
		max-height: 42px;
		font-size: $fontMini;
		color:$colorLighter;
		line-height: 1.2;
		overflow: hidden;
	}
}
@mixin btn{
	display: block;
	background-color: $colorMain;
	color:$colorWhite;
	text-align: center;
	text-decoration: none;
	&.btn-long{
		margin:0 15px;
		font-size: $fontMiddle;
		line-height: 45px;
	}
	&.btn-margin{
		margin-bottom: 25px;
	}
}
@mixin btn-fresh{
	font-size: $fontArticle;
	color:$colorMain;
	padding:8px 20px;
	border:1px solid $colorMain;
	background-color: $colorWhite;
	text-decoration: none;
}
@mixin ad-wrap{
	position: relative;
	margin:20px 15px;
	img{
		width: 100%;
	}
	.ad-tag{
		position: absolute;
		right:0;
		top:0;
		padding:5px;
		font-size: $fontMini;
		background-color: $colorMain;
		color:$colorWhite;
	}
}
@mixin article-wrap{
	margin:15px 15px 25px;
	.nav-bread{
		color:$colorLighter;
		font-size: $fontMini;
		margin-bottom: 12px;
	}
	.nav-bread-date{
		margin-left:20px;
	}
	h2{
		max-height: 60px;
		line-height: 1.5;
		color:$colorDark;
		font-size: $fontLarger;
		padding-bottom: 15px;
		border-bottom: 1px solid $colorBorder;
		overflow: hidden;
	}
	img{
		width: 100%;
		margin:18px 0;
	}
	p{
		font-size: $fontArticle;
		color:$colorText;
		line-height: 1.8;
	}
}
@mixin link-list{
	border-bottom: 1px solid $colorBorder;
	overflow: hidden;
	padding:0 15px;
	position: relative;
	a{
		height: 45px;
		line-height: 45px;
		display: block;
		text-decoration: none;
		font-size: $fontMiddle;
		color:$colorText;
		overflow: hidden;
	}
	span{
		position: absolute;
		right:10px;
		top:2px;
	}
}
@mixin comments-wrap{
	padding:18px 0;
	h2{
		font-size: $fontMiddle;
		color:$colorText;
		padding-left:8px;
		margin-left:16px;
		border-left:2px solid $colorMain;
	}
	.comment-list{
		padding:16px;
		border-bottom: 1px solid $colorBorder;
		overflow: hidden;
	}
	.comment-username{
		color:$colorMain;
		font-size: $fontSmall;
		margin-right: 5px;
		vertical-align: middle;
	}
	.comment-time{
		color:$colorLighter;
		font-size: $fontMini;
		vertical-align: text-bottom;
	}
	.comment-head{
		margin-bottom: 12px;
		.comment-avatar{
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $colorBg;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
	.comment-detail{
		font-size: $fontBig;
		color:$colorText;
		line-height: 1.2;
	}
	.comment-reply{
		margin:15px 0 0;
		background-color: $colorPanel;
	}
	.comment-reply-list{
		padding:15px 10px;
		border-bottom: 1px solid $colorBorder;
	}
	.comment-reply-btn{
		@include btn-fresh;
		float: right;
		margin-top:15px;
	}
}
@mixin comment-float{
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	padding:7px 125px 15px 15px;
	border-top:1px solid $colorBorder;
	border-bottom: 1px solid $colorBorder;
	background-color: $colorWhite;
	@include box-sizing(border-box);
	.comment-float-input{
		width: 100%;
		line-height: 35px;
		padding-left: 10px;
		background-color: $colorBg;
		@include border-radius(3px);
	}
	.comment-btn{
		position: absolute;
		top:15px;
		width: 18px;
		height: 18px;
		background: url("../images/icons.png") no-repeat left top;
		background-size: auto 47px;
		&.comment-more-btn{
			background-position: 0 1px;
			font-size: $fontMini;
			color:$colorLighter;
			right:68px;
			text-decoration: none;
			text-indent: 20px;
			line-height: 1.8;
		}
		&.comment-share-btn{
			right: 16px;
			background-position: -18px 1px;
		}
	}
}
@mixin comment-add{
	width: 100%;
	padding:10px 15px;
	position: fixed;
	left:0;
	bottom:0;
	background-color: $colorWhite;
	border-top: 1px solid $colorBorder;
	@include box-sizing(border-box);
	.comment-add-head{
		position: relative;
		font-size: $fontMiddle;
		color:$colorLight;
		margin-bottom: 10px;
		text-align: center;
		overflow: hidden;
	}
	.comment-add-title{
		line-height: 30px;
	}
	.comment-add-cancel{
		@include btn-fresh;
		float: left;
	}
	.comment-add-sub{
		@include btn-fresh;
		float: right;
	}
	.comment-add-content{
		width: 100%;
		min-height:80px;
		background-color: $colorBg;
		padding:5px;
		@include border-radius(3px);
	}
}
@mixin share-wrap{
	width: 100%;
	position: fixed;
	left:0;
	bottom:0;
	border-top:1px solid $colorBorder;
	background-color: $colorWhite;
	text-align: center;
	h2{
		line-height: 42px;
		font-size: $fontMiddle;
		color:$colorLight;
		text-align: center;
		border-bottom: 1px solid $colorBorder;
	}
	.share-icons{
		display: inline-block;
		margin:13px 20px;
		width: 40px;
		height: 40px;
		background-color: $colorBg;
		@include border-radius(50%);
	}
}