@import "compass";
@import "reset";
.demo-wrap{
	padding:20px;
}
.demo-list{
	float: left;
	margin:10px;
	padding:5px;
	border:1px solid #00b4fa;
}
.demo-list:hover{
	border:1px solid #00b4cf;
}
.demo-img{
	position: relative;
	width: 400px;
	min-height: 300px;
	margin-bottom: 15px;
	overflow: hidden;
}
.demo-img img{
	position: absolute;
	top:50%;
	@include transform(translateY(-50%));
}
.demo-title{
	text-align: center;
	overflow: hidden;
	line-height: 1.8;
}
.demo-list-href{
	font-size: 18px;
}