// font size
$fontMini:11px;
$fontSmall:12px;
$fontArticle:13px;
$fontDefault:14px;
$fontMiddle:15px;
$fontBig:16px;
$fontLarge:18px;
$fontLarger:20px;
// color
$colorMain:#3ad168;
$colorWhite:#fff;
$colorText:#323232;
$colorLight:#666;
$colorLighter:#999;
$colorDark:#121212;
$colorBg:#eee;
$colorBorder:#ddd;
$colorPanel:#f9f9f9;
// img size
$imgAdW:290px;
$imgAdH:70px;
$imgDefaultW:130px;
$imgDefaultH:90px;
$imgBannerW:320px;
$imgBannerH:105px;